


.row:after {
    content: "";
    display: table;
    clear: both;    
}

.columnOne {
    color: red;
    float: left;
    margin: 10px;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 10px;
    width: 23%; 
    box-sizing: border-box;
    height: 300px;
}

.columnTwo {
    color:blue;
    float: left;
    margin: 10px;
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px;
    width: 48%;
    box-sizing: border-box;
    height: 300px;
}

.columnThree {
    color:green;
    float: left;
    margin: 10px;
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px;
    width: 23%;    
    box-sizing: border-box;
}